

	.restaurant_bg { 

	  width: 700px;
	  height: 450px;

	 }


	 #title { 

	 	text-align: center;
	 	background-color: #ffeb3b;
	  }

	  a { 
	  	text-decoration: none;
	   }

	  .recipe_descr { 

	  	font-size: 20px;
	   }